{% extends 'aux/base.html' %}

{% block title %}
  TheBus
{% endblock %}

{% block content %}

  <div class="row">
  </div>

  <br>

  <div class="row">
    <div class='col-md-6'>
      <div class="input-group">
        <input type="text" class="form-control" id='search'
          placeholder="Busque pelo nome ou número da linha">
        <span class="input-group-btn">
        <button class="btn btn-primary" id='btn_busca' type="button">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Busca
        </button>
      </span>
    </div>
    </div>
    <div class='col-md-6'></div>
  </div>

  <br>

  <div class="row">
    <div class='col-md-6'>
      <table class="table table-hover">
        <thead id='h_table'>
          <tr>
            <th>Codigo</th>
            <th>Denominacao</th>
          </tr>
        </thead>
        <tbody id='b_table'>
          <th>
             <td colspan='2'>
               Faça uma busca
             </td>
          </tr>
         </tbody>
      </table>
    </div>
    <div class='col-md-6'>
      <div class="panel panel-default">
        <div class="panel-body" id='panel'>
          <div id="map" style="width:100%;height:400px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class='col-md-6'>
    </div>
    <div class='col-md-6'></div>
  </div>

{% endblock %}

{% block js %}
  <!--script src="http://maps.googleapis.com/maps/api/js"></script-->

  {% comment %}
  <script type="text/javascript">
    var map;
    var lista = [
        {lat: -5.0820102, lng: -42.8106979},
        {lat: -5.100327, lng: -42.7841099},
        {lat: -5.0962872, lng: -42.8008217}
      ]

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -5.0921475, lng: -42.7581931},
        zoom: 13,
        disableDefaultUI: true,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      });
    }

    function toggleBounce() {
      if (marker.getAnimation() !== null) {
        marker.setAnimation(null);
      } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
      }
    }

    function addMarkerMethod(pos){
      console.log('b' +pos);
      console.log(lista[pos]);
      marker = new google.maps.Marker({
        position: lista[pos],
        title:"Hello World!",
        draggable: false,
      });

      marker.setMap(map);
    }

    function f2(p){
      console.log('e'+p);
    }


    $('#btn_map').click(function(){

      for (var i =0; i < lista.length; i++) {
        console.log(lista[i]);
        setTimeout(function() {
          console.log('a'+ i);
          // v = lista[i];
          console.log(lista);
          f2(i)
          //addMarkerMethod(i);
        }, i * 200);
      }

      /*
      marker = new google.maps.Marker({
        position: {lat: -5.1129562, lng: -42.7714415},
        title:"Hello World!",
        draggable: false,
      });
      marker.setMap(map);
      */

    });
  </script>
  {% endcomment %}

  <script type="text/javascript">
    var neighborhoods = [];
    var markers = [];
    var map;
    var ico = '/static/images/busico.png'

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -5.0921475, lng: -42.7581931},
        zoom: 13,
        disableDefaultUI: true,
        mapTypeId:google.maps.MapTypeId.ROADMAP
      });
    }

    function toggleBounce() {
      if (marker.getAnimation() !== null) {
        marker.setAnimation(null);
      } else {
        marker.setAnimation(google.maps.Animation.BOUNCE);
      }
    }


    function drop() {
      clearMarkers();
      for (var i = 0; i < neighborhoods.length; i++) {
        addMarkerWithTimeout(neighborhoods[i], i * 200);
      }
    }

    function addMarkerWithTimeout(position, timeout) {
      window.setTimeout(function() {
        markers.push(new google.maps.Marker({
          position: position,
          map: map,
          animation: google.maps.Animation.DROP,
          icon: ico
        }));

        //markers.addListener('click', toggleBounce);
      }, timeout);
    }

    function clearMarkers() {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
      }
      markers = [];
    }

    $('#btn_map').click(function(){
      drop();
    });
  </script>

  <script type="text/javascript">

    function busca_linha(termo){

      $('#h_table').html(
        "<tr ><th>Linha</th>" +
        "<th>Denominacao</th></tr>");

      $('#b_table').html(
        "<tr><th colspan='2'><center>"+
        "<img alt='spin' height='30' width='30' "+
        "src='/static/images/spin.gif'>"+
        "</center></th></tr>");

      $.ajax({
        type: "GET",
        url:"/lines/",
        data: {'busca': termo},
        dataType: "json",
        success: function(data){
          $("#b_table").html('');
          $.each(data, function(index, value){
            $("#b_table").append(
              "<tr class='linha'><td>"+ value.CodigoLinha + "</td>"+
              "<td>"+ value.Denomicao + "</td></tr>"
            );
          });
        },
        error : function(xhr, errmsg, err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
      });
    }

    function busca_bus_linha(termo){

      $('#h_table').html(
        "<tr><th>Veiculo</th>" +
        "<th>Denominacao</th></tr>");

      $('#b_table').html(
        "<tr><th colspan='2'><center>"+
        "<img alt='spin' height='30' width='30' "+
        "src='/static/images/spin.gif'>"+
        "</center></th></tr>");

      $.ajax({
        type: "GET",
        url:"/bus_line/",
        data: {'busca': termo},
        dataType: "json",
        success: function(data){

          $("#b_table").html('');

          neighborhoods = []

          $.each(data.Linha.Veiculos, function(index, value){
            $("#b_table").append(
              "<tr class='veiculo'><td>" +
              value.CodigoVeiculo + "</td>"+
              "<td>"+ data.Linha.Denomicao + "</td></tr>"
            );
            neighborhoods.push({
              lat: parseFloat(value.Lat),
              lng: parseFloat(value.Long)
            });
          });
          drop();
        },
        error : function(xhr, errmsg, err) {
            console.log(xhr.status + ": " + xhr.responseText);
        }
      });
    }

    $('#btn_busca').click(function(){

      term = parseFloat($("#search").val());

      if (term != '' && isNaN(term)){
        // nome percurso
        clearMarkers();
        busca_linha($("#search").val());
      }else if (term != '' && !isNaN(term)){
        //numero linha
        clearMarkers();
        busca_bus_linha($("#search").val());
      }else{
        alert('Digite a linha ou o codigo do onibus!');
      }
    });

    $("#b_table").on("click", "tr.veiculo", function (e) {
      row = $(this).closest("tr");
      cel = row.find("td:nth-child(1)").text();
      console.log(cel);
    });

    $("#b_table").on("click", "tr.linha", function (e) {
      row = $(this).closest("tr");
      cel = row.find("td:nth-child(1)").text();
      console.log(cel);
      busca_bus_linha(cel);
    });

    /*
    {
      "CodigoLinha": "0723",
      "Denomicao": "RODOVIARIA CIRCULAR I",
      "Origem": "TERMINAL RODOVIARIO",
      "Retorno": "BAL. COCA-COLA",
      "Circular": true
    }
    */

    /*
    $('#b_table').html(
      "<tr><th colspan='2'><center>"+
      "<img alt='spin' height='30' width='30' "+
      "src='/static/images/spin.gif'>"+
      "</center></th></tr>");
    */
  </script>

  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1iU0jpNwLTpjAMpNh_7hdemWef2bz3YA&callback=initMap">
  </script>

{% endblock %}
