<!DOCTYPE html>
<html lang="pt-br" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    {% include 'aux/navbar.html' %}
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>

  </body>
  <script type="text/javascript" src="/static/js/jquery-1.10.2.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  {% block js %}

  {% endblock %}
<html>
